<swiper
  [spaceBetween]="16"
  [width]="148"
  [height]="148"
  [freeMode]="true"
  (swiper)="onSwiper($event)"
  [roundLengths]="true"
  dir="rtl"
  (slideChange)="onSlideChange($event)"
  (touchEnd)="onSlideChange($event)"
>
  <ng-container *ngFor="let item of images">
    <ng-template swiperSlide class="custome-slide">
      <div class="slider-box" [ngClass]="{ active: item.active }">
        <img [src]="item.src" alt="" />
        <div class="overlay"></div>
      </div>
    </ng-template>
  </ng-container>
</swiper>
